---
import Layout from "../layouts/Layout.astro";
import People from "../components/People.astro";

const tanquesittos = [
  { name: "Churrion", img: "/images/1.jpg", infoUrl: "/Churrion" },
  { name: "Churrion", img: "/images/1.jpg", infoUrl: "/Churrion" },
  { name: "Churrion", img: "/images/1.jpg", infoUrl: "/Churrion" },
  { name: "Churrion", img: "/images/1.jpg", infoUrl: "/Churrion" },
  { name: "Churrion", img: "/images/1.jpg", infoUrl: "/Churrion" },
  { name: "Churrion", img: "/images/1.jpg", infoUrl: "/Churrion" },
  { name: "Churrion", img: "/images/1.jpg", infoUrl: "/Churrion" },
  { name: "Churrion", img: "/images/1.jpg", infoUrl: "/Churrion" },
  { name: "Churrion", img: "/images/1.jpg", infoUrl: "/Churrion" },
  { name: "Churrion", img: "/images/1.jpg", infoUrl: "/Churrion" },
];
---

<Layout>
  <div class="container">
    <h1>GENTE DEL TANQUE</h1>
    <div class="niggas">
      {tanquesittos.map((nigga) => <People {...nigga} />)}
    </div>
  </div>

  <style>
    .container {
      text-align: center;
      font-family: Arial, sans-serif;
      margin: 20px;
      padding: 10px;
    }

    h1 {
      font-size: 2em;
      margin-botton: 20px;
    }

    .niggas {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 20px;
      justify-items: center;
      margin-top: 20px;
    }

    @media (max-width: 600px) {
      h1 {
        font-size: 1.5em;
      }

      .niggas {
        gap: 5px;
      }
    }
  </style>
</Layout>
