---
import Layout from "../layouts/Layout.astro";
import People from "../components/People.astro";

const tanquesittos = [
  {
    name: "Amrishappy",
    image: "/images/Amrishappy.jpg",
    infoUrl: "/Gente/Amrishappy",
  },

  {
    name: "ImThealexxd",
    image: "/images/ImThealexxd.jpg",
    infoUrl: "/Gente/ImThealexxd",
  },

  {
    name: "Bepon",
    image: "/images/Bepon.jpg",
    infoUrl: "/Gente/Bepon",
  },

  {
    name: "FunnyDiamods",
    image: "/images/Funny.jpg",
    infoUrl: "/Gente/Funny",
  },
  {
    name: "Dimspartan",
    image: "/images/Dimspartan.jpg",
    infoUrl: "/Gente/Dim",
  },
  {
    name: "Vareis",
    image: "/images/Vareis.jpg",
    infoUrl: "/Gente/Vareis",
  },

  {
    name: "Kalocha",
    image: "/images/Kalocha.jpg",
    infoUrl: "/Gente/Kalocha",
  },

  {
    name: "Potatox",
    image: "/images/Potatox.jpg",
    infoUrl: "/Gente/Potatox",
  },
  {
    name: "Churrion",
    image: "/images/Churrion.jpg",
    infoUrl: "/Gente/Churrion",
  },
];
---

<Layout>
  <div class="container">
    <h1>GENTE DEL TANQUE</h1>
    <div class="niggas">
      {tanquesittos.map((nigga) => <People {...nigga} />)}
    </div>
  </div>

  <style>
    .container {
      text-align: center;
      font-family: Arial, sans-serif;
      margin: 20px;
      padding: 10px;
    }

    h1 {
      font-size: 2em;
      margin-bottom: 20px;
    }

    .niggas {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 20px;
      justify-items: center;
      margin-top: 20px;
    }

    @media (max-width: 600px) {
      h1 {
        font-size: 1.5em;
      }

      .niggas {
        gap: 5px;
      }
    }
  </style>
</Layout>
